.idea/

# backend directory
backend/.idea/
backend/*.iml
backend/*.log
backend/target/
backend/src/main/resources/application.properties
backend/pdfSubmissions/tempFilledPdf.pdf

# frontend directory
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.vscode/
frontend/.VSCodeCounter/