[submodule "backend"]
	path = backend
	url = https://github.com/tolisApostolidis/myELGA_backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/tolisApostolidis/myELGA_frontend.git
